html {
    scrollbar-width: thin;
    scrollbar-color: #141933 rgba(10, 10, 30, 1);
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: #141933;
    border-radius: 3px;
    border: none;
}

body::-webkit-scrollbar-track {
    background: rgba(10, 10, 30, 1);
}
